<app-label labelStyle="edit-title" for="title">
    Title:
</app-label>

<app-textbox 
    #title id="title" 
    placeholder="New Title" 
    textboxStyle="edit-title"
    (keydown)="titleExists()"
    value="{{loadedTitle}}">
</app-textbox>

<div *ngIf="!titleStatus">
    <app-error class="error-msg">Title Required</app-error>
</div>

<p #page class="container" contenteditable="true"></p>

<app-modal [(visible)]="showModal" (visibleChange)="changeKeep($event)">
    <p>
        Your document is not empty. Loading new file will swap current document you are working on.
        If you have not saved your current document, all changes will be lost.
        Are you sure you want to load new document?
    </p>
    <app-button
        [class]=''
        (clickEvent)="swap()">
            Yes

    </app-button>
    <app-button
        [class]=''
        (clickEvent)="showModal = !showModal">
        No
    </app-button>
</app-modal>
