@import "../../assets/main-style.scss";

.container {
  border: 3em $main-font-color solid;
  background: $main-font-color;
  color: #000000;
  height: 250vh;
  margin: 2em;
  width: 100%;
  word-break: break-all;
}
