<div class="admin-user-editor__error-msg" *ngIf="error">
    Error during update: {{error}}
  </div>
  
  <div class="admin-user-editor__success-msg" *ngIf="send">
    User has been updated
  </div>
  
  <div class='admin-user-editor__container'>
    <p class="admin-user-editor__text">User editor:</p>
    <input 
      [(ngModel)]="searchbox" 
      placeholder="Search..." 
      class="admin-user-editor__searchbox" 
      (keyup)="filter()">
  
    <select *ngIf="users" [(ngModel)]="selectedUser" class="admin-user-editor__selector">
      <option class="admin-user-editor__selected" [ngValue]="undefined" selected hidden>Select user</option>
      <option class="admin-user-editor__options" *ngFor="let user of usersfiltered.data.users" [ngValue]="user">
        {{ user.firstName }} {{ user.lastName }}
      </option>
    </select>
  
    <div *ngIf="selectedUser">
      <form
        class="admin-user-editor__update-user"
        [formGroup]="updateUserForm"
        (ngSubmit)="updateUser(updateUserForm)">
        <p class="change-creds">Change first name:</p>
  
        <div class="admin-user-editor__input-group">
          <app-input
            [id]="'firstName'"
            [formInputStyle]="'admin-user-editor__input'"
            [type]="'text'"
            [placeholder]="'First name'"
            [controlName]="updateUserForm.controls.firstName"
            [value]="selectedUser.firstName">
          </app-input>
        </div>
  
        <p class="change-creds">Change last name:</p>
        <div class="input-group">
          <app-input
            [id]="'lastName'"
            [formInputStyle]="'admin-user-editor__input'"
            [type]="'text'"
            [placeholder]="'Last name'"
            [controlName]="updateUserForm.controls.lastName"
            [value]="selectedUser.lastName">
          </app-input>
  
          <div class="admin-user-editor__change-pic-form-wrapper">
            <p class="admin-user-editor__change-creds">Change your profile picture:</p>
            <div class="admin-user-editor__input-file">
              <app-label [for]="'pic__input'" [labelStyle]="'admin-user-editor__form-file'">
                <i class="fa fa-arrow-down" aria-hidden="true"></i> Select your profile image
              </app-label>
              <app-input
                [id]="'pic__input'"
                [formInputStyle]="'admin-user-editor__form-file'"
                [type]="'file'"
                [controlName]="updateUserForm.controls.picture"
                [accept]="'image/*'"
                (change)="pictureUpload($event)">
              </app-input>
            </div>
          </div>
  
          <div class="admin-user-editor__profile-pic-wrapper">
            <app-image
              *ngIf="!pictureUrl"
              [url]="'../../assets/img/avatar.png'"
              [className]="'profile-pic-editor'">
            </app-image>
            <app-image
              *ngIf="pictureUrl"
              [url]="pictureUrl"
              [className]="'profile-pic-editor'">
            </app-image>
          </div>
  
          <div class="admin-user-editor__input-group">
            <p>New password:</p>
            <app-input
              [id]="'password'"
              [formInputStyle]="'admin-user-editor__input'"
              [placeholder]="'New password'"
              [type]="'password'"
              [controlName]="updateUserForm.controls.changePasswordGroup.controls.password">
            </app-input>
            <app-error
              [class]="'admin-user-editor__input-error-msg'"
              *ngIf="
                updateUserForm.get('changePasswordGroup.password').errors?.required &&
                updateUserForm.get('changePasswordGroup.password').touched">
              {{ validationMessages.required }}
            </app-error>
            <app-error
              [class]="'admin-user-editor__input-error-msg'"
              *ngIf="updateUserForm.get('changePasswordGroup.password').errors?.minlength
                && updateUserForm.get('changePasswordGroup.password').touched">
              {{ validationMessages.password }}
            </app-error>
  
            <p>Confirm new password:</p>
  
            <app-input
              ng-blur="visitedEmail=true"
              [id]="'repeatPassword'"
              [formInputStyle]="'admin-user-editor__input'"
              [placeholder]="'Confirm password'"
              [type]="'password'"
              [controlName]="updateUserForm.controls.changePasswordGroup.controls.repeatPassword">
            </app-input>
            <app-error
              [class]="'admin-user-editor__input-error-msg'"
              *ngIf="
                updateUserForm.get('changePasswordGroup.repeatPassword').errors?.required
                  && updateUserForm.get('changePasswordGroup.repeatPassword').dirty">
              {{ validationMessages.required }}
            </app-error>
            <app-error
              [class]="'admin-user-editor__input-error-msg'"
              *ngIf="updateUserForm.get('changePasswordGroup').errors?.match">
              {{ validationMessages.matchingPassword }}
            </app-error>
          </div>
        </div>
        <app-submit-btn
          [buttonStyle]="''"
          [type]="'submit'"
          [disabled]="updateUserForm.invalid">
          Update user
        </app-submit-btn>
      </form>
    </div>
  </div>