<section [ngSwitch]="url">
  <div 
    *ngSwitchCase="'/main'" 
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="750"
    [infiniteScrollDisabled]="prevLoading$ | async"
    (scrolled)="onScrollPrev()"
    [immediateCheck]="true">
    <app-doc-prev *ngFor="let prev of (prevs$ | async)" [preview]="prev">
    </app-doc-prev>
  </div>

  <div 
    *ngSwitchCase="'/favourites'"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="750"
    [infiniteScrollDisabled]="likedLoading$ | async"
    (scrolled)="onScrollLiked()"
    [immediateCheck]="true">
    <app-doc-prev *ngFor="let prev of (liked$ | async)" [preview]="prev">
    </app-doc-prev>
  </div>
</section>
