.error-msg {
    background-color: rgba(248,000,000,0.5);
    padding: 10px;
    display: inline-block;
    color: #FFF;
    margin-bottom: 10px;
    font-size: 0.8em;
    position: relative;
}

.error-msg:before, .error-msg-addBookmark:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(248,000,000,0.5);
    border-left: 10px solid transparent;
    text-align: center;
    top:-10px;
    left: calc(50% - 10px);
}  

.user-editor__input-error-msg, .admin-user-editor__input-error-msg {
    align-self: center;
    background-color: rgba(248,000,000,0.5);
    padding: 10px;
    display: relative;
    color: #FFF;
    margin-bottom: 10px;
    font-size: 0.8em;
    position: relative;
    text-align: center;
    width: 40%
}

.user-editor__input-error-msg:before, .admin-user-editor__input-error-msg:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(248,000,000,0.5);
    border-left: 10px solid transparent;
    text-align: center;
    top:-10px;
    left: calc(50% - 10px);
}

.error-msg-addBookmark {
    background-color: rgba(248,000,000,0.5);
    padding: 10px;
    display: block;
    color: #FFF;
    margin-bottom: 10px;
    font-size: 0.8em;
    position: relative;
    margin-top: 10px;
    width: 150px;
    text-align: center;
    margin-left: 65px;
}

.edit-alert__error {
    background-color: rgba(248,000,000,0.75);
    color: #FFF;
    display: inline-block;
    font-size: 0.8em;
    margin-bottom: 10px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 45px;
    width: 100%;
}
