@import '../../../assets/main-style.scss';

button{
    background: $btn-color;
    border: none;
    color: $main-font-color;
    cursor: pointer;
    display: inline-block;
    font-size: $btn-font-size;
    margin: 0.5em;
    padding: 1em;
    transition: 0.1s all ease-in-out, 0.1s transform ease-in-out;

    &:hover{
        transform: scale(1.025);
    }    

    &:disabled{
        background: darken(#fff, 70%);
        cursor: not-allowed;
        color: grey;
    }     
}

.login-form__submit{
    

}

.register-form__submit{
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing: 1px;
    margin: 0;
    background-color: $main-color;
    padding: 1em 2em;
    width: 100%;
    display: block;
    text-transform: uppercase;
}