@import '../../../assets/main-style.scss';

button {
    background: $btn-color;
    border: none;
    color: $main-font-color;
    cursor: pointer;
    display: inline-block;
    font-size: $btn-font-size;
    margin: 0.5em;
    padding: 1em;
    transition: 0.1s all ease-in-out, 0.1s transform ease-in-out;

    &:hover {
        transform: scale(1.025);
    }    
       
    &:disabled {
        background: darken(#fff, 70%);
        cursor: not-allowed;
        color: grey;
    }     
}

.login-form__submit {
    display: block;
    text-transform: uppercase;
    margin: 2em auto;
    width: 100%;
}

.register-form__submit {
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing: 1px;
    margin: 0;
    background-color: $main-color;
    padding: 1em 2em;
    width: 100%;
    display: block;
    text-transform: uppercase;
}

.send-message__submit {
    background: #fff;
    color: #313131;
    padding: 12px 10px;
    margin: 0;
    height: 41px;
    width: 73.7px;
    border-radius: 0 0 10px 0;
    border-bottom: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
    box-shadow: 1px 1px 2px #646464;
    box-sizing: inherit;
    transition: 0.5s;

    &:hover {
        transform: none;
    }    
       
    &:disabled {
        background: #fff;
        cursor: not-allowed;
    }

    &:focus {
        outline: none;
    }
}
.change-Password-Form__submit{
    padding: 0.5em;
    margin: 0em;
    width: 100%;
}
