@import '../../../assets/main-style.scss';
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button{
    background: $btn-color;
    border: none;
    // border-radius: 0.5em;
    color: $main-font-color;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin: 0.5em;
    padding: 1em;
    transition: 0.07s all ease-in-out, 0.06s transform ease-in-out;
    &:hover{
        transform: scale(1.1);
    }       
    &:disabled{
        background: $back-color;
        color: grey;
    }     
}

.login-form__submit{
    

}

.register-form__submit{
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing: 1px;
    margin: 0;
    background-color: $main-color;
    padding: 1em 2em;
    width: 100%;
    text-transform: uppercase;
}