@import '../../assets/main-style.scss';

.container {
    display: flex;
    margin-top: 60px;
    // background-color: $sec-back-color;
    width: 600px;
    align-content: space-between;
    flex-direction: column;

    .add-bookmark{
        display: flex;
        align-self: flex-end;
        padding-bottom: 10px;
     

        i{
            font-size: 50px;
            color: $main-color;
           
            
            
            
        }

        p{
            margin-right: 8px;
            line-height: 50px;
            // color: $main-color;
            font-weight: bold;
        }

    }

    .bookmark{
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid black;
        align-items: center;
        background-color: $sec-back-color;

    }
}
        
           
        
