<div class="container">
    <div class="add-bookmark">
        <p>Create New Bookmark</p>
        <app-button [class]="'add-bookmark'" (clickEvent)="showModal = !showModal"><i class="fa fa-plus-circle"></i></app-button>
    </div>
    <div class="bookmark" *ngFor="let item of bookmark$ | async ">
        <app-bookmark-info [data]="item"></app-bookmark-info>
    </div>
</div>


<app-modal [(visible)]="showModal">
    <div class="add-bookmark">
        <form [formGroup]="addBookmarkForm" class="bookmark-add-form" (ngSubmit)="addBookmark(addBookmarkForm)"> 
            <div class="form-group">
                <label for="title">Title: </label>
                <app-input 
                    [id]="'title'" 
                    [formInputStyle]="'bookmark-form__input'"
                    [type]="'text'" 
                    [controlName]="addBookmarkForm.controls.title"
                >
                </app-input>
                <app-error
                    [class]="'error-msg-addBookmark'"
                    *ngIf="addBookmarkForm.get('title').errors?.required && addBookmarkForm.get('title').touched">
                    The field is requried
                </app-error>
                <app-error
                    [class]="'error-msg-addBookmark'"
                    *ngIf="addBookmarkForm.get('title').errors?.maxlength">
                    Title is too long, max 20 characters
                </app-error>
            </div>
            <div class="form-group">
                <label for="title">Content: </label>
                <textarea
                    class="" 
                    id="content" 
                    rows="6" 
                    cols="20"
                    [formControl]="addBookmarkForm.controls.content"
                >
                </textarea>
                <app-error
                    [class]="'error-msg-addBookmark'"
                    *ngIf="addBookmarkForm.get('content').errors?.required && addBookmarkForm.get('content').touched">
                    The field is requried
                </app-error>
            </div>
            <div class="form-group" style="margin-top: 10px">
                <label for="position">Position: </label>
                <app-radio-buttons 
                 [id]="'position'"
                 [name]="'position'"
                 [type]="'radio'"
                 [value1]="positions.top"
                 [value2]="positions.right"
                 [controlName]="addBookmarkForm.controls.position"
                 >
            </app-radio-buttons>
            </div>
            <app-submit-btn  [disabled]="addBookmarkForm.invalid" [buttonStyle]="'button'" [type]="'submit'"> Save changes</app-submit-btn>
        </form>
    </div>
</app-modal>