<article class="doc-prev">
  <div class="doc-prev__desc">
    <span class="doc-prev__desc--title">My First Article</span>
    <span class="doc-prev__desc--author">Willy Fisterbottom</span>
    <span class="doc-prev__desc--date">01.01.1970</span>
  </div>
  <p class="doc-prev__content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
    in reprehenderit in voluptate velit esse cillum dolore eu fugiat
    nulla pariatur. Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <app-router-btn [link]="id" [class]="'doc-prev__open'">
    Show More...
  </app-router-btn>
</article>
