<div [class]="sendMessageStyles">
  <form 
    [class]="'sendMessageForm'" 
    [formGroup]="sendMessageForm" 
    [autocomplete]="'off'"
    (ngSubmit)="send(sendMessageForm)" >
      <app-input 
        [id]="'message'"
        [controlName]="sendMessageForm.controls.message" 
        [placeholder]="'enter your message'" 
        [type]="'text'" 
        [formInputStyle]="'chat__input'"
        (keyup.enter)="send(sendMessageForm)">
      </app-input>
      <app-submit-btn 
        [buttonStyle]="'send-message__submit'"
        [disabled]="userIsBanned || sendMessageForm.invalid">
          Send
      </app-submit-btn>
  </form>
</div>
