.chat-bar {
    background-color: hsla(0, 0%, 15%, 0.6);
    color: #fff;
    height: 35px;
    line-height: 35px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    padding: 2px 5px;
    cursor: pointer;
}