@import '../../../assets/main-style.scss';

.login-form__title {
    color: $main-color;
    display: block;
    font-size: 2.5em;
    font-weight: bold;
    padding: 0.5em 0;
    text-align: center;
}

.login-form__subtitle {
    display: inline-block;
    text-transform: uppercase;
}

.register-form--file {
    width: 115px;
    font-size: 0.75rem;
    display: block;
    background-color: $main-color;
    text-align: center;
    padding: 1em;
    transition: all 0.3s ease-in-out;

    @media(min-width:640px) {
        font-size: 0.9rem;
        width: 198px;
    }

    &:hover {
       background-color:  #e08505
    }
}

.user-edit-form__file {
    font-size: 0.75rem;
    display: block;
    background-color: $main-color;
    text-align: center;
    margin: 0.5em 0em;
    padding: 0.5em;
    transition: all 0.3s ease-in-out;

    @media(min-width:640px) {
        font-size: 0.9rem;
        width: 10%px;
    }

    &:hover {
       background-color:  #e08505
    }
}