@import url('https://fonts.googleapis.com/css?family=Roboto');

$main-font: 'Roboto', sans-serif;

$back-color: #373F46;
$sec-back-color: #304150;

$main-color: #E0A905;
$main-font-color: #FEFEFA;

$btn-color: #31ABED;