@import '../../assets/main-style.scss';
.bookmark-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
               
    &:last-child {
        border:none;
    }

    .bookmark-info--title {
        width: 170px;
    }

    .bookmark-info--position {
        width: 170px;
        margin-left: 10px;
    }
    
    .bookmark-info--data {
        color: $main-color;
    }

}
