<div class="bookmark-info">
    <div class="bookmark-info--title">
        <p>{{'title' | translate}} 
            <Strong class="bookmark-info--data">
                {{ (data.title.length > 12)? (data.title | slice:0:12)+'...' : (data.title) }}
            </Strong>
        </p> 
    </div>
<div class="bookmark-info--position">
    <p>{{'Position:' | translate}} 
        <Strong class="bookmark-info--data">
            {{data.position}}
        </Strong>
    </p>
</div>
    <app-button 
        [class]="'boomark-info__button'" 
        (clickEvent)="toggleForm(data)">
            {{'edit' | translate}} 
        <i class="fa fa-pencil" ></i>
    </app-button>
    <app-button 
        [class]="'boomark-info__button--delete'" 
        (clickEvent)="deleteBookmark(data)">
            {{'delete' | translate}} 
        <i class="fa fa-trash"></i>
    </app-button>
</div>
<app-bookmark-form [data]="data" *ngIf="isShown" ></app-bookmark-form>