<form class="login-form" [formGroup] = "loginForm" (ngSubmit)="onSubmit()">
    <section class="login-form__part">
        <app-input 
            [formInputStyle]="'login-form__input'"
            [controlName]="loginForm.controls.email"
            [placeholder]="'Email'"
        ></app-input>
    
        <app-submit-btn [buttonStyle]="'login-form__submit'" [type]="'submit'">Sign In</app-submit-btn>
        
        <app-router-btn [class]="'login-form__reg'" [routerLink]="'/register'">Sign Up</app-router-btn>
    </section>

    <section class="login-form__part">

    </section>
</form>
