@import '../../assets/main-style.scss';

.login-form{  
    background-color: $sec-back-color;
    border-radius: 2em;
    padding: 2em;
    .login-form__part{
        box-sizing: border-box;
        display: inline-block;
        padding: 1em;
        width: 50%;
        @media screen and (max-width: $desktop) {
            display:block;
            padding: 0.5em;
            width: 100%;
        }
    }
}