@import '../../../../assets/main-style.scss';

a {
    color: $main-color;
    display: inline-block;
    font-size: $btn-font-size;
    text-decoration: none;
}

.login-form__reg {
    font-size: 16px;
    margin: 0 0.5em;
    text-transform: uppercase;

    &:hover {
        color: $btn-color;
    }
}

.doc-prev__open {
    margin: 0 0.5em;

    &:hover {
        color: $btn-color;
    }
}

//DROPDOWN
.dropdown--link{
    display:block;
    text-decoration:none;
    padding:8px;
    color:#000;
    transition:.1s;
    white-space:nowrap;
  }

  .dropdown--link:hover{
    background-color:rgba(224, 169, 5, 0.8);;
    color:#fff;
  }