@import "../../../assets/main-style.scss";

.controls__button {
    background: $sec-back-color;
    border: 1px $main-font-color solid;
    color: $main-font-color;
    font-size: 24px;
    height: 48px;
    width: 100%;

    &:active {
        border: 2px $main-font-color solid;
    }
}
