@import '../../assets/main-style.scss';


.bookmark-edit {
    padding: 15px;

    .bookmark-edit__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .bookmark-ediotr__textarea {
            background-color: transparent;
            margin-right: 15px;
            padding: 10px 12px;
            margin-top: 10px;
            vertical-align: middle;
            border: 1px solid #A5B1BE;
            color: $main-font-color;

            &:focus {
                border: 1px solid $main-color;
                outline: none;
            }
        }

        .bookmar-edit-form__label--position {
            padding: 5px;
            font-weight: bold;
            color: $main-color;
        }

        .form-group_position {
            margin-top: 10px;
        }
    }
}