@import '../../../assets/main-style.scss';

.boomark-info__button{
    background: $main-color;
    border: none;
    color: $main-font-color;
    cursor: pointer;
    display: inline-block;
    font-size: $btn-font-size;
    margin: 0.5em;
    padding: 1rem;
    border-radius: 3px;
}

.boomark-info__button--delete{
    background: $btn-color;
    border: none;
    color: $main-font-color;
    cursor: pointer;
    display: inline-block;
    font-size: $btn-font-size;
    margin: 0.5em;
    padding: 1rem;
    border-radius: 3px;
}

.app-bookmark {
    display:inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: $back-color;
   
}


