@import '../../../assets/main-style.scss';

//BOOKMARK 
.boomark-info__button{
    background: $main-color;
    border: none;
    color: $main-font-color;
    cursor: pointer;
    display: inline-block;
    font-size: $btn-font-size;
    margin: 0.5em;
    padding: 0.7rem;
    border-radius: 3px;
    transition: 0.4s;
    width: 80px;
        &:hover {
            background-color: #cd9b05;
        }
}

.boomark-info__button--delete{
    background: $btn-color;
    border: none;
    color: $main-font-color;
    cursor: pointer;
    display: inline-block;
    font-size: $btn-font-size;
    margin: 0.5em;
    padding: 0.7rem;
    width: 80px;
    border-radius: 3px;
    transition: 0.4s;
    margin-right: 10px;

        &:hover {
                background-color: #2C87D8;
            }
}

.add-bookmark {
    display:inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: $back-color;
}

//MODAL
.modal__close-btn {
    cursor: pointer;
    border: 0;
    background: none;
    color: #2d2d2d;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 1.2em;
  }

  // DROPDOWN
  .dropdown__button{
    border:none;
    padding: 15px 25px;
    background-color: $main-color;
    color:white;
    transition:.3s;
    cursor:pointer;
  }

  .user-editor__disconnect-FB-modal-container-button{
    background: $main-color;
    border: none;
    color: $main-font-color;
    cursor: pointer;
    display: inline-block;
    font-size: $btn-font-size;
    margin:  0.5em 0.2em;
    padding: 1rem;
    border-radius: 3px;
    width:11em;
    transition: 0.4s;
        &:hover {
            background-color: #cd9b05;
        }
}

.facebook-disconnect{ 
    border: 0.25em solid #1d336c;
    background: #4267b2;
    color: $main-font-color; 
    padding: 1em;
    margin: 0.5em 0;
    width: 100%;
    transition: 0.1s all ease-in-out, 0.1s transform ease-in-out;
    
    &:hover {
        border: 0.5em solid #1d336c;
    }
}