@import '../../../assets//main-style.scss';

//REGISTER PAGE
.register-form__input {
    color: $main-font-color;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #AFAFAF;
    padding: 10px 25px;
    font-size: 0.9rem;
    transition: 0.4s;
    position: relative;
    text-indent: 1rem;

        @media(min-width:640px) {
          padding: 15px 20px;
          text-indent: 25px;
        }

        &::placeholder {
            color: #AFAFAF;
            letter-spacing: 1px;
        }

        &:focus {
            border: 1px solid $main-color;
            outline: none;
        }
}

.register-form__file {
    display: none;
}

input {
    background-color: transparent;
    border: 1px solid #A5B1BE;
    color: $main-font-color;
    padding: 1.5em;
}

//LOGIN PAGE
.login-form__input {
    // margin: 0.5em 0;
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid #A5B1BE;
    padding: 15px 20px;
    transition: 0.4s;
    position: relative;
    text-indent: 25px;
    font-size: 0.9rem;

        &::placeholder {
            color: #AFAFAF;
            letter-spacing: 1px;
        }
        &:focus {
            border: 1px solid $main-color;
            outline: none;
        }
}

.chat__input {
    background: #fff;
    height: 41px;
    width: 206.3px;
    color: #313131;
    padding: 15px;
    margin: 0;
    border: none;
    border-radius: 0 0 0 10px;
    border-bottom: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d426;
    box-sizing: inherit;

    &:focus {
        outline: none;
    }

    &:disabled {
        cursor: not-allowed;
        color: grey;
    }
}
// USER EDITOR PAGE
.user-edit__input{
    color: $main-font-color;
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid #AFAFAF;
    padding: 5px;
    font-size: 0.9rem;
    transition: 0.4s;
    position: relative;
    text-indent: 1rem;

    @media(min-width:640px) {
        padding: 10px 20px;
        text-indent: 5px;
      }

      &::placeholder {
          color: #AFAFAF;
          letter-spacing: 1px;
      }

      &:focus {
          border: 1px solid $main-color;
          outline: none;
      }
}

.user-editor-form__file {
    display: none;
}
