@import '../../../assets//main-style.scss';

.register-form__input {
    color: $main-font-color;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #AFAFAF;
    padding: 10px 25px;
    font-size: 0.9rem;
    transition: 0.4s;
    position: relative;
    text-indent: 1rem;

        @media(min-width:640px) {
          padding: 15px 20px;
          text-indent: 25px;
        }

        &::placeholder {
            color: #AFAFAF;
            letter-spacing: 1px;
        }

        &:focus {
            border: 1px solid $main-color;
            outline: none;
        }
}

.register-form__file {
    display: none;

}

input {
    background-color: transparent;
    border: 1px solid #A5B1BE;
    color: $main-font-color;
    padding: 1.5em;
}

.login-form__input {
    margin: 0.5em 0;
    width: 100%;
    border: 1px solid #A5B1BE;
    padding: 15px 20px;
    transition: 0.4s;
    position: relative;
    text-indent: 25px;
    font-size: 0.9rem;

        &::placeholder {
            color: #AFAFAF;
            letter-spacing: 1px;
        }
        &:focus {
            border: 1px solid $main-color;
            outline: none;
        }
}