<div class="user-editor__error-msg" *ngIf="error">
  Error during update: {{error}}
</div>

<div class="user-editor__success-msg" *ngIf="send">
  User has been updated
</div>

<div *ngIf="current.firstName" class="user-editor__container">
  <form
    class="user-editor__update-user"
    [formGroup]="updateUserForm"
    (ngSubmit)="updateUser(updateUserForm)">
    
    <p class="user-editor__change-creds">Change first name:</p>

    <div class="user-editor__input-group">
      <app-input
        [id]="'firstName'"
        [formInputStyle]="'user-editor__input'"
        [type]="'text'"
        [placeholder]="'First name'"
        [controlName]="updateUserForm.controls.firstName"
        [value]="current.firstName">
      </app-input>
    </div>

    <p class="user-editor__change-creds">Change last name:</p>
    <div class="user-editor__input-group">
      <app-input
        [id]="'lastName'"
        [formInputStyle]="'user-editor__input'"
        [type]="'text'"
        [placeholder]="'Last name'"
        [controlName]="updateUserForm.controls.lastName"
        [value]="current.lastName">
      </app-input>

      <div class="user-editor__change-pic-form-wrapper">
        <p class="user-editor__change-creds">Change your profile picture:</p>
        <div class="user-editor__input-file">
          <app-label [for]="'pic__input'" [labelStyle]="'user-editor__form-file'">
            <i class="fa fa-arrow-down" aria-hidden="true"></i> Select your profile image
          </app-label>
          <app-input
            [id]="'pic__input'"
            [formInputStyle]="'user-editor__form-file'"
            [type]="'file'"
            [controlName]="updateUserForm.controls.picture"
            [accept]="'image/*'"
            (change)="pictureUpload($event)">
          </app-input>
        </div>
      </div>

      <div class="user-editor__profile-pic-wrapper">
        <app-image
          *ngIf="!pictureUrl"
          [url]="'../../assets/img/avatar.png'"
          [className]="'profile-pic-editor'">
        </app-image>
        <app-image
          *ngIf="pictureUrl"
          [url]="pictureUrl"
          [className]="'profile-pic-editor'">
        </app-image>
      </div>

      <p>Old password:</p>
      <div class="user-editor__input-group">
        <app-input
          [id]="'oldPassword'"
          [formInputStyle]="'user-editor__input'"
          [type]="'password'"
          [placeholder]="'Old password'"
          [controlName]="updateUserForm.controls.changePasswordGroup.controls.oldPassword">
        </app-input>
        <app-error
          [class]="'user-editor__input-error-msg'"
          *ngIf="updateUserForm.get('changePasswordGroup.oldPassword').errors?.required 
          && updateUserForm.get('changePasswordGroup.oldPassword').touched">
          {{ validationMessages.required }}
        </app-error>
        <app-error
          [class]="'user-editor__input-error-msg'"
          *ngIf="updateUserForm.get('changePasswordGroup.oldPassword').errors?.minlength
          && updateUserForm.get('changePasswordGroup.oldPassword').touched">
          {{ validationMessages.password }}
        </app-error>
      </div>

      <div class="user-editor__input-group">
        <p>New password:</p>
        <app-input
          [id]="'password'"
          [formInputStyle]="'user-editor__input'"
          [placeholder]="'New password'"
          [type]="'password'"
          [controlName]="updateUserForm.controls.changePasswordGroup.controls.passwordGroup.controls.password">
        </app-input>
        <app-error
          [class]="'user-editor__input-error-msg'"
          *ngIf="updateUserForm.get('changePasswordGroup.passwordGroup.password').errors?.required
          && updateUserForm.get('changePasswordGroup.passwordGroup.password').touched">
          {{ validationMessages.required }}
        </app-error>
        <app-error
          [class]="'user-editor__input-error-msg'"
          *ngIf="updateUserForm.get('changePasswordGroup.passwordGroup.password').errors?.minlength
          && updateUserForm.get('changePasswordGroup.passwordGroup.password').touched">
          {{ validationMessages.password }}
        </app-error>

        <p>Confirm new password:</p>

        <app-input
          ng-blur="visitedEmail=true"
          [id]="'repeatPassword'"
          [formInputStyle]="'user-editor__input'"
          [placeholder]="'Confirm password'"
          [type]="'password'"
          [controlName]="updateUserForm.controls.changePasswordGroup.controls.passwordGroup.controls.repeatPassword">
        </app-input>
        <app-error
          [class]="'user-editor__input-error-msg'"
          *ngIf="updateUserForm.get('changePasswordGroup.passwordGroup.repeatPassword').errors?.required
            && updateUserForm.get('changePasswordGroup.passwordGroup.repeatPassword').dirty">
          {{ validationMessages.required }}
        </app-error>
        <app-error
          [class]="'user-editor__input-error-msg'"
          *ngIf="updateUserForm.get('changePasswordGroup.passwordGroup').errors?.match">
          {{ validationMessages.matchingPassword }}
        </app-error>
      </div>
    </div>
    <app-submit-btn
      [buttonStyle]="''"
      [type]="'submit'"
      [disabled]="updateUserForm.invalid">
      Update user
    </app-submit-btn>
  </form>
  <app-button 
   *ngIf="(current.registered !== 'LOCAL')"
    [class]="'facebook-disconnect'" 
    (clickEvent)="showModal = !showModal">
    <i class="fa fa-facebook-official"></i>
    Disconnect from Facebook
  </app-button>
</div>



<app-modal [(visible)]="showModal" (visibleChange)="changeKeep($event)">
    {{disconnectError}}
    <div class="user-editor__disconnect-FB-modal-container" *ngIf="!disconnectError">

      <div class="user-editor__disconnect-FB-modal-container--FACEBOOK" *ngIf="(current.registered === 'FACEBOOK') && (!deleted)">
        <p>
          Your account was created with your Facebook profile.
          Would you like to delete your account permanently, or would you like
          to keep local account?
        </p>
        <app-button 
          [class]="'user-editor__disconnect-FB-modal-container-button'" 
          (click)="disconnect_delete()">
            Delete
        </app-button>

        <app-button 
          [class]="'user-editor__disconnect-FB-modal-container-button'"
          (click)='changeKeep(false)'>
            Keep local account
        </app-button>

        <app-button 
          [class]="'user-editor__disconnect-FB-modal-container-button'" 
          (clickEvent)="showModal = !showModal; changeKeep(true)">
            Cancel
        </app-button> 

      </div>

      <div class="user-editor__disconnect-FB-modal-container--LOCAL-FACEBOOK" 
        *ngIf="(current.registered === 'LOCAL_FACEBOOK' && (!disconnected))">
        <p>
          Are you sure you want to disconnect your account from your Facebook account?
        </p>

        <app-button 
          [class]="'user-editor__disconnect-FB-modal-container-button'" 
          (click)="disconnect_local()">
            Yes
        </app-button>

        <app-button 
          [class]="'user-editor__disconnect-FB-modal-container-button'" 
          (clickEvent)="showModal = !showModal">
            No
        </app-button>
      </div>

      <div class="user-editor__disconnect-FB-modal-container--keep" *ngIf="keep">
        <p>
          In order to keep local account, you have to set password for your account:
        </p>

        <form
          class="user-editor__update-user--disconnect"
          [formGroup]="disconnectForm"
          (ngSubmit)="disconnect_keep(disconnectForm)">

          <p>New password:</p>
          <app-input
            [id]="'password'"
            [formInputStyle]="'user-editor__input'"
            [placeholder]="'New password'"
            [type]="'password'"
            [controlName]="disconnectForm.controls.passwordGroup.controls.password">
          </app-input>
          <app-error
            [class]="'user-editor__input-error-msg'"
            *ngIf="disconnectForm.get('passwordGroup.password').errors?.required
            && disconnectForm.get('passwordGroup.password').touched">
            {{ validationMessages.required }}
          </app-error>
          <app-error
            [class]="'user-editor__input-error-msg'"
            *ngIf="disconnectForm.get('passwordGroup.password').errors?.minlength
            && disconnectForm.get('passwordGroup.password').touched">
            {{ validationMessages.password }}
          </app-error>

          <p>Confirm new password:</p>
          <app-input
            ng-blur="visitedEmail=true"
            [id]="'repeatPassword'"
            [formInputStyle]="'user-editor__input'"
            [placeholder]="'Confirm password'"
            [type]="'password'"
            [controlName]="disconnectForm.controls.passwordGroup.controls.repeatPassword">
          </app-input>
          <app-error
            [class]="'user-editor__input-error-msg'"
            *ngIf="disconnectForm.get('passwordGroup.repeatPassword').errors?.required
              && disconnectForm.get('passwordGroup.repeatPassword').dirty">
            {{ validationMessages.required }}
          </app-error>
          <app-error
            [class]="'user-editor__input-error-msg'"
            *ngIf="disconnectForm.get('passwordGroup').errors?.match">
            {{ validationMessages.matchingPassword }}
          </app-error>

          <app-submit-btn
            [buttonStyle]="''"
            [type]="'submit'"
            [disabled]="disconnectForm.invalid">
              Disconnect from Facebook
          </app-submit-btn>
        </form>
      </div>
      <div class="user-editor__disconnect-FB-modal-container--keep" *ngIf="deleted">
        <p>
          Your accout has been disconnected from your Facebook account.
          Now you can log in using your email: {{current.email}} and password
          you just provided.
        </p>
      </div>
      <div class="user-editor__disconnect-FB-modal-container--keep" *ngIf="disconnected">
        <p>
          Your account has been disconnected from you Facebook account.
        </p>
      </div>
      <div class="user-editor__disconnect-FB-modal-container--keep" *ngIf="byebye">
        <p>
          <img src="https://media.giphy.com/media/UQaRUOLveyjNC/giphy.gif">
        </p>
      </div>
    </div>
</app-modal>