<div class="user-editor">
  <div class="user-editor-header">
    <p>Edit your personal info:</p>
  </div>

  <div class="user-editor-menu">
    <p class="user-editor-label">Change credentials:</p>
    <button class="open-modal" (click)="openModal('change-credits-modal')">Change credits</button>  
  </div>
  
  <div class="user-editor-menu">
    <p class="user-editor-label">Change profile picture:</p>
    <button class="open-modal" (click)="openModal('change-pic-modal')">Change pic</button>
  </div>

  <div class="user-editor-menu">
    <p class="user-editor-label">Change password:</p>
    <button class="open-modal" (click)="openModal('change-password-modal')">Change password</button>
  </div>
</div>



<!-- MODALS -->
<!-- CREDITS MODAL -->
<app-jw-modal id="change-credits-modal">
  <form
    class="changeCredentials"
    [formGroup]="changeCredentialsForm"
    (ngSubmit)="changeCredentials(changeCredentialsForm)">
    <p class="change-creds">Change first name:</p>

    <div class="input-group">
      <app-input
        [id]="'firstName'"
        [formInputStyle]="'user-edit__input'"
        [type]="'text'"
        [placeholder]="'First name'"
        [controlName]="changeCredentialsForm.controls.firstName"
        [value]="user.firstName">

      </app-input>
      <app-error
        [class]="'user-editor-error-msg'"
        *ngIf="changeCredentialsForm.get('firstName').errors?.required &&
          changeCredentialsForm.get('firstName').touched">
        {{ validationMessages.required }}
      </app-error>
      <app-error
        [class]="'user-editor-error-msg'"
        *ngIf="changeCredentialsForm.get('firstName').errors?.minlength &&
          changeCredentialsForm.get('firstName').touched">
        {{ validationMessages.firstName }}
      </app-error>
    </div>

    <p class="change-creds">Change last name:</p>
    <div class="input-group">
      <app-input
        [id]="'lastName'"
        [formInputStyle]="'user-edit__input'"
        [type]="'text'"
        [placeholder]="'Last name'"
        [controlName]="changeCredentialsForm.controls.lastName"
        [value]="user.lastName">
      </app-input>
      <app-error
        [class]="'user-editor-error-msg'"
        *ngIf="changeCredentialsForm.get('lastName').errors?.required &&
          changeCredentialsForm.get('lastName').touched">
        {{ validationMessages.required }}
      </app-error>
      <app-error
        [class]="'user-editor-error-msg'"
        *ngIf="changeCredentialsForm.get('lastName').errors?.minlength &&
          changeCredentialsForm.get('lastName').touched">
        {{ validationMessages.lastName }}
      </app-error>
    
    </div>
    <app-submit-btn
      [buttonStyle]="'change-Password-Form__submit'"
      [type]="'submit'"
      [disabled]="changeCredentialsForm.invalid">
      Change credentials
    </app-submit-btn>
    <button type="button" class="close-modal" (click)="closeModal('change-credits-modal')">Close</button>
    
  </form>
</app-jw-modal>

<!-- CHANGE PIC MODAL -->
<app-jw-modal id="change-pic-modal">
  <form
    class="change-pic"
    [formGroup]="changePicForm"
    (ngSubmit)="changePic(changePicForm)">

    <div class="change-pic-form-wrapper">
      <p class="change-creds">Change your profile picture:</p>
      <div class="input_file">
        <app-label [for]="'pic__input'" [labelStyle]="'user-edit-form__file'">
          <i class="fa fa-arrow-down" aria-hidden="true"></i> Select your profile image
        </app-label>
        <app-input
          [id]="'pic__input'"
          [formInputStyle]="'user-editor-form__file'"
          [type]="'file'"
          [controlName]="changePicForm.controls.picture"
          [accept]="'image/*'"
          (change)="pictureUpload($event)">
        </app-input> 
      </div>

      <div class="close-btn">
        <app-submit-btn
          [buttonStyle]="'change-Password-Form__submit'"
          [type]="'submit'"
          [disabled]="changePicForm.invalid">
          Change profile picture
        </app-submit-btn>
        <button type="button" class="close-modal" (click)="closeModal('change-pic-modal')">Close</button>
      </div>
    </div>

    <div class="profile-pic-wrapper">
      <app-image 
        *ngIf ="!pictureUrl" 
        [url]="'../../assets/img/avatar.png'" 
        [className]="'profile-pic-editor'">
      </app-image>
      <app-image 
        *ngIf ="pictureUrl" 
        [url]="pictureUrl" 
        [className]="'profile-pic-editor'">
      </app-image>
    </div>

  </form>
</app-jw-modal>

<!-- CHANGE PASSWORD MODAL -->
<app-jw-modal id="change-password-modal">
    <h1>Change your password:</h1>
    <form
      class="changePassword"
      [formGroup]="changePasswordForm"
      (ngSubmit)="changePassword(changePasswordForm)">

      <p>Old password:</p>
      <div class="input-group">
        <app-input
          [id]="'oldPassword'"
          [formInputStyle]="'user-edit__input'"
          [type]="'password'"
          [placeholder]="'Old password'"
          [controlName]="changePasswordForm.controls.oldPassword">
        </app-input>
        <app-error
          [class]="'user-editor-error-msg'"
          *ngIf="changePasswordForm.get('oldPassword').errors?.required
            && changePasswordForm.get('oldPassword').touched">
          {{ validationMessages.required }}
        </app-error>
        <app-error
          [class]="'user-editor-error-msg'"
          *ngIf="changePasswordForm.get('oldPassword').errors?.minlength
            && changePasswordForm.get('oldPassword').touched">
          {{ validationMessages.password }}
        </app-error>
      </div>

      <div formGroupName="passwordGroup" class="input-group">
        <p>New password:</p>
        <app-input
          [id]="'password'"
          [formInputStyle]="'user-edit__input'"
          [placeholder]="'New password'"
          [type]="'password'"
          [controlName]="changePasswordForm.controls.passwordGroup.controls.password">
        </app-input>
        <app-error
          [class]="'user-editor-error-msg'"
          *ngIf="
            changePasswordForm.get('passwordGroup.password').errors?.required 
            && changePasswordForm.get('passwordGroup.password').touched">
          {{ validationMessages.required }}
        </app-error>
        <app-error
          [class]="'user-editor-error-msg'"
          *ngIf="changePasswordForm.get('passwordGroup.password').errors?.minlength 
            && changePasswordForm.get('passwordGroup.password').touched">
          {{ validationMessages.password }}
        </app-error>

        <p>Confirm new password:</p>

        <app-input
          ng-blur="visitedEmail=true"
          [id]="'repeatPassword'"
          [formInputStyle]="'user-edit__input'"
          [placeholder]="'Confirm password'"
          [type]="'password'"
          [controlName]="changePasswordForm.controls.passwordGroup.controls.repeatPassword">
        </app-input>
        <app-error
          [class]="'user-editor-error-msg'"
          *ngIf="changePasswordForm.get('passwordGroup.repeatPassword').errors?.required
            && changePasswordForm.get('passwordGroup.repeatPassword').dirty">
          {{ validationMessages.required }}
        </app-error>
        <app-error
          [class]="'user-editor-error-msg'"
          *ngIf="changePasswordForm.get('passwordGroup').errors?.match">
          {{ validationMessages.matchingPassword }}
        </app-error>
      </div>

      <app-submit-btn
        [buttonStyle]="'change-Password-Form__submit'"
        [type]="'submit'"
        [disabled]="changePasswordForm.invalid">
        Change password
      </app-submit-btn>
    <button type="button" class="close-modal" (click)="closeModal('change-password-modal')">Close</button>
    </form>
    
  </app-jw-modal>
