<div class="container">
  <div class="register-wrapper">
    <form class="register-form" [formGroup] = "registerForm" (ngSubmit)="register(registerForm)">
      <div class="input-group">
        <app-input 
          [id]="'email'"
          [formInputStyle]="'register-form__input'" 
          [type]="'email'" 
          [placeholder]="'Email'" 
          [controlName]="registerForm.controls.email">
        </app-input>
        <i class="fa fa-envelope input-icon"></i>
        <span class="error-msg"
         *ngIf="registerForm.get('email').errors?.required && registerForm.get('email').touched">
          {{validationMessages.required}}
        </span>
        <span class="error-msg"
         *ngIf="registerForm.get('email').errors?.email && registerForm.get('email').touched">
           {{validationMessages.email}}
        </span>
      </div>
      <div formGroupName="passwordGroup">
        <div class="input-group">
          <app-input 
            [id] = "'password'"
            [formInputStyle]="'register-form__input'" 
            [type]="'password'" 
            [placeholder]="'Password'" 
            [controlName]="registerForm.controls.passwordGroup.controls.password">
          </app-input>
          <i class="fa fa-unlock-alt input-icon"></i>
          <span class="error-msg"
          *ngIf="registerForm.get('passwordGroup.password').errors?.required && registerForm.get('passwordGroup.password').touched">
            {{validationMessages.required}}
         </span>
         <span class="error-msg"
         *ngIf="registerForm.get('passwordGroup.password').errors?.minlength && registerForm.get('passwordGroup.password').touched">
            {{validationMessages.password}}
        </span>
        </div>
        <div class="input-group">
          <app-input 
            [id]="'rePassword'"
            [formInputStyle]="'register-form__input'" 
            [type]="'password'" 
            [placeholder]="'Repeat Password'" 
            [controlName]="registerForm.controls.passwordGroup.controls.repeatPassword">
          </app-input>
          <i class="fa fa-unlock-alt input-icon"></i>
          <span class="error-msg"
          *ngIf="registerForm.get('passwordGroup.repeatPassword').errors?.required && registerForm.get('passwordGroup.repeatPassword').touched">
            {{validationMessages.required}}
         </span>
         <span class="error-msg"
         *ngIf="registerForm.get('passwordGroup').errors?.match">
         {{validationMessages.matchingPassword}}
        </span>
        </div>
      </div>
        <div class="input-group">
            <app-input 
              [id]="'fistName'"
              [formInputStyle]="'register-form__input'" 
              [type]="'text'" 
              [placeholder]="'First Name'" 
              [controlName]="registerForm.controls.firstName">
            </app-input>
            <i class="fa fa-user input-icon"></i>
            <span class="error-msg"
            *ngIf="registerForm.get('firstName').errors?.required && registerForm.get('firstName').touched">
            {{validationMessages.required}}
           </span>
          </div>
          <div class="input-group">
              <app-input 
                [id]="'lastName'"
                [formInputStyle]="'register-form__input'" 
                [type]="'text'" 
                [placeholder]="'Last Name'" 
                [controlName]="registerForm.controls.lastName">
              </app-input>
              <i class="fa fa-user input-icon"></i>
              <span class="error-msg"
              *ngIf="registerForm.get('lastName').errors?.required && registerForm.get('lastName').touched">
              {{validationMessages.required}}
             </span>
          </div>
          <div class="input_file">
            <app-label 
              [for]="'file'" 
              [labelStyle]="'register-form--file'">
                  <i class="fa fa-arrow-down" aria-hidden="true"></i>
                  Select your profile image
              </app-label>
              <app-input
                  [id]="'file'"
                  [formInputStyle]="'register-form__file'" 
                  [type]="'file'" 
                  [controlName]="registerForm.controls.picture"
                  [accept]="'image/*'"
                  (change)="pictureUpload($event)">
              </app-input>
              <app-image *ngIf ="!pictureUrl" [url]="'../../assets/img/avatar.png'" [className]="'profile-img'"></app-image>
              <app-image *ngIf ="pictureUrl" [url]="pictureUrl" [className]="'profile-img'"></app-image>
            </div>
      <app-submit-btn
        [buttonStyle]="'register-form__submit'"
        [type]="'submit'"
        [disabled]="registerForm.invalid">
        Sign Up
      </app-submit-btn>
    </form>
    <app-error *ngIf="error" [class]="'error-response'" >
      {{error.error.message}}
    </app-error>
  </div>
  <div class="login-wrapper">
    <p>already have an account? <a (click)="navigate()">log in</a></p>
  </div>
</div>