@import '../../assets/main-style.scss';


.container {
    height: 100%;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  
    
    .register-wrapper {
        background-color: $sec-back-color;
        width: 100%;
        border-radius: 5px;
        padding: 2em;
        

        @media(min-width:640px) {
            width: 420px;
            margin-top: -50px;
        }
       
        .register-form  {
            text-transform: capitalize;
            font-family: $main-font;
            text-align: center;

            .input-group {
                position: relative;

                .input-icon {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 38px;
                    margin-left: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #AFAFAF;

                    @media(min-width:640px) {
                        margin-left: 15px;
                        height: 48px;
                    }
                }  
            
            }
            .input_file {
                display: flex;               
                align-items: center;
            }
        }
    }

      .login-wrapper{
        text-align: center;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        font-size: 0.9rem;
      
            & a{
                text-decoration: none;
                margin-left: 4px;
                letter-spacing: 1px;
                color: $main-color;
                transition: 0.4s;
                cursor: pointer;
            }
             
            & a:hover{
                color: #e09705 ;
            }
            
        }
    }
    