@import '../../assets/main-style.scss';


.container {
    height: 100%;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  
    
    .register-wrapper {
        background-color: $sec-back-color;
        width: 300px;
        border-radius: 10px;
        padding: 2em;

        @media(min-width:640px) {
            width: 420px;
        }
       
        .register-form  {
            text-transform: capitalize;
            font-family: $main-font;
            text-align: center;

            .input-group {
                position: relative;

                .input-icon {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 38px;
                    margin-left: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #AFAFAF;

                    @media(min-width:640px) {
                        margin-left: 15px;
                        height: 48px;
                    }

                }
                .error-msg {
                    background-color: rgba(248,000,000,0.5);
                    padding: 10px;
                    display: inline-block;
                    color: #FFF;
                    margin-bottom: 10px;
                    font-size: 0.8em;
                    position: relative;
                }

                .error-msg:before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    width: 0px;
                    height: 0px;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid rgba(248,000,000,0.5);
                    border-left: 10px solid transparent;
                    text-align: center;
                    top:-10px;
                    left: calc(50% - 10px);
                }      
            
            }
            .input_file {
                display: flex;               
                align-items: center;
            }
        }
        .error-response{
            text-align: center;
            margin-top: 1rem;
            font-size: 0.6rem;
            padding: 0.3rem;
            background-color:  rgba(248,000,000,0.5);

            @media(min-width:640px) {
                font-size: 0.8rem;
                height: 48px;
            }
        }
  
    }

      .login-wrapper{
        text-align: center;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        font-size: 0.9rem;
      
            & a{
                text-decoration: none;
                margin-left: 4px;
                letter-spacing: 1px;
                color: $main-color;
                transition: 0.4s;
                cursor: pointer;
            }
             
            & a:hover{
                color: #e09705 ;
            }
            
        }
    }
    