.edit-alert__success {
    background-color: rgba(000,228,000,0.75);
    color: #FFF;
    display: inline-block;
    font-size: 0.8em;
    margin-bottom: 10px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 45px;
    width: 100%;
}